html {
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100%;
}

.mobile {
    display: none;
}

body {
    margin-bottom: 8vh;
}

.main {
    height: 100vh;
    min-height: 100vh;
    max-height: fit-content;
}

.navbar {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link,
.navbar-nav .mode-select {
    padding: 5px;
}

.nav-link {
    position: relative;
    color: #686868;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    margin-right: 20px;
}

.nav-link::before,
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #828282;
    transition: width 0.3s ease-in-out;
    width: 0;
}

.nav-link::before {
    left: 0;
}

.nav-link::after {
    right: 0;
}

.nav-link:hover::before,
.nav-link:hover::after {
    width: 100%;
}

hr {
    margin: 0;
    padding: 0;
    color: #9a9999;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.info {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.info-content {
    padding: 25%;
    padding-right: 5%;
}

.picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.details {
    color: #3f3f3f;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.details * {
    margin-bottom: 4px;
    align-items: center;
}

.location-icon {
    height: 25px;
    width: 25px;
}

.location {
    display: flex;
    align-items: flex-start;
}

svg {
    margin-right: 5%;
    margin-top: 2%;
}

.email {
    display: flex;
    align-items: flex-start;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: #3f3f3f;
}

.home {
    flex: 3.5 1 0;
    font-size: 20px;
}

.home-content {
    padding: 8%;
    padding-right: 35%;
}

.footer {
    width: 100vw;
    min-height: 8vh;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
}

.footer-content {
    font-size: 10px;
    margin-left: 30px;
    color: #626262;
}

.dark-mode {
    background-color: #212121;
    color: #ececec;
}

.dark-mode .footer {
    background-color: #1c1c1c;
}

.dark-mode .container-fluid {
    background-color: #212121;
    color: #ececec;
}

.dark-mode .nav-link {
    color: #ececec;
}

.dark-mode span,
.dark-mode a {
    color: #ececec;
}

.dark-mode svg {
    fill: #ffffff;
}

.mode-select {
    position: relative;
    cursor: pointer;
}

.button-view {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 8px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 45px;
    min-width: 0;
    outline: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 15%;
    max-width: 150px;
    will-change: transform;
    margin-right: 15px;
}

.button-view:disabled {
    pointer-events: none;
}

.button-view:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-view:active {
    box-shadow: none;
    transform: translateY(0);
}

.dark-mode .button-view {
    appearance: none;
    background-color: transparent;
    border: 2px solid #d2d2d2;
    border-radius: 8px;
    box-sizing: border-box;
    color: #d2d2d2;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 45px;
    min-width: 0;
    outline: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 15%;
    will-change: transform;
    margin-right: 15px;
}

.dark-mode .button-view:hover {
    color: #000000;
    background-color: #e0e0e0;
    box-shadow: rgba(248, 248, 248, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-view:active {
    box-shadow: none;
    transform: translateY(0);
}

.dark-mode .navbar-toggler {
    color: #373737;
}

@media screen and (max-width: 768px) {
    .button-view {
        width: auto;
        max-width: none;
    }
    .nav-item {
        display: none;
    }
    .mobile {
        display: inline;
    }
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .info {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
    }
    .info-content {
        padding: 25%;
        padding-top: 10%;
        padding-bottom: 10%
    }
    .not-mobile {
        display: none;
    }
    .home-content {
        padding: 8%;
        font-size: medium;
    }
}