html{
    font-family: 'Poppins', sans-serif;
}

hr{
    margin: 0;
    padding: 0;
    color: #9a9999;
}

.container-fluid{
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

body{
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.info{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.info-content{
    padding: 15%;
    padding-right: 5%;
}

.picture{
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image round */
    overflow: hidden;
}

.details{
    color: #3f3f3f;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.details * {
    margin-bottom: 4px;
}

.location{
    display: flex;
    align-items: flex-start;

}

svg{
    margin-right: 5%;
    margin-top: 2%;
}

.email{
    display: flex;
    align-items: flex-start;
    overflow-wrap: break-word;
}

a{
    text-decoration: none;
    color: #3f3f3f;
}

.home{
    flex: 4 1 0;
    font-size: 20px;
}

.home-content{
    padding: 5%;
    padding-right: 40%;
}